# ==========================================
# Application
# ==========================================
APP_NAME=LehanEOS
APP_ENV=development
LOG_LEVEL=INFO

# ==========================================
# PostgreSQL
# ==========================================

PG_DB=
PG_HOST=
PG_PORT=5432
PG_USR=
PG_PWD=
PG_SCHEMA=public

# ==========================================
# PowerShell
# ==========================================
POWERSHELL_EXECUTABLE=pwsh

# ==========================================
# Active Directory
# ==========================================
AD_SERVER=
AD_DOMAIN=
AD_USERNAME=
AD_PASSWORD=
AD_BASE_DN=
AD_USERS_OU=
AD_GROUPS_OU=
AD_PORT=

# ==========================================
# Security
# ==========================================
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# ==========================================
# MQTT
# ==========================================
MQTT_HOST=
MQTT_PORT=1883
MQTT_USR=
MQTT_PWD=
MQTT_TOPIC_PREFIX=lehaneos

# ==========================================
# Redis
# ==========================================

REDIS_HOST=
REDIS_PORT=6379
REDIS_DB=0
REDIS_PWD=
