# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*

!.env.example

# ==========================================
# IDE
# ==========================================
*.iml
.idea/
.vscode/

# ==========================================
# Testing
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Type Checking
# ==========================================

.mypy_cache/

# ==========================================
# Ruff
# ==========================================

.ruff_cache/

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Build
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Database
# ==========================================


# ==========================================
# Operating Systems
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Alembic
# ==========================================

# À conserver si tu utilises Alembic
# migrations/versions/*.pyc

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.bak
*.swp

# ==========================================
# PowerShell
# ==========================================

*.ps1xml

# ==========================================
# Local script output
# ==========================================
